{% extends 'base.html' %}
{% block content %}
<style>
    #map { height: 300px; }
</style>
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <form id="sendGPS" action="{% url 'receive_gps_data' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="number" class="form-control" id="latitude" step="any" name="latitude" required />
          </div>
          <div class="mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="number" class="form-control" id="longitude" step="any" name="longitude" required />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      {% for x in gpsdata %}
        <div class="col col-md-6 col-lg-4 col-xl-2 mb-2 h-100">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action api-received" aria-current="true" data-longitude="{{ x.longitude }}" data-latitude="{{ x.latitude }}">
              <div class="d-flex w-100 justify-content-between">
                <small><i class="fa-solid fa-timeline"></i> {{ x.timestamp }}</small>
              </div>
              <h5 class="mb-1"><i class="text-success fa-solid fa-globe fa-sm"></i> {{ x.longitude }}</h5>
              <h5 class="mb-1"><i class="text-primary fa-solid fa-globe fa-sm"></i> {{ x.latitude }}</h5>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col">
        <div id="map"></div>
      </div>
    </div>
  </div>
{% endblock %}
